.header{
    border: rgb(223, 22, 22) solid 4px;
     width: 800px;
     height: 200px;
}

.nav{
    border: rgb(229, 114, 7) solid 4px;
    width: 800px;
    height: 400px;
}

.section{
    border-left: 4px rgb(229, 114, 7) solid ;
    width: 100px;
    height: 400px;
    
}

.footer{
    border: rgb(14, 87, 30) solid 4px;
    width: 800px;
    height: 200px;
}