body{
    margin: 0;
    margin-bottom: 10px;
}

table{
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
    
}
table, tr, th, td {
    border: black solid 1px;
    
}

td {
padding: .3rem;
text-align: center;
}

img {
  width: 100px;
  height: 100px;
}